<ons-list>
  <ons-list-header>Transitions</ons-list-header>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="none">
    none
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="default">
    default
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="slide-ios">
    slide-ios
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="slide-md">
    slide-md
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="lift-ios">
    lift-ios
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="lift-md">
    lift-md
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="fade-ios">
    fade-ios
  </ons-list-item>
  <ons-list-item modifier="chevron" data-push="#/transition" data-trans="fade-md">
    fade-md
  </ons-list-item>
</ons-list>
