<ons-carousel id="carousel" fullscreen swipeable auto-scroll overscrollable initial-index="0">
  <ons-carousel-item class="carousel-item" style="background-color: gray">
    <div class="color-tag">Gray</div>
  </ons-carousel-item>
  <ons-carousel-item class="carousel-item" style="background-color: #085078">
    <div class="color-tag">Blue</div>
  </ons-carousel-item>
  <ons-carousel-item class="carousel-item" style="background-color: #373B44">
    <div class="color-tag">Dark</div>
  </ons-carousel-item>
  <ons-carousel-item class="carousel-item" style="background-color: #D38312">
    <div class="color-tag">Orange</div>
  </ons-carousel-item>
</ons-carousel>

<div class="dots">
  {{#dots}}
  <span class="dot" f-onclick="swipe({{@index}})">
    {{{.}}}&nbsp;
  </span>
  {{/dots}}
</div>

<style>
  .carousel-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .color-tag {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .dots {
    text-align: center;
    font-size: 30px;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }

  .dots > span {
    cursor: pointer;
  }
</style>
